<div class="notif_list">
    <h1 class="notif_title">Mes notifications</h1>

    <div *ngFor="let notif of notifications">
        
        <div class="card">
            <div class="flex row jc-space-around ">
                <h2>Nouveau message</h2>
                <div class="delete" (click)="deleteNotif(notif.id)">🗙</div>

            </div>
            <ul>
                <li><strong>Proposition:</strong><br>{{notif.message}}</li>
                <li><strong>Email: </strong>{{notif.mail}}</li>
                <li><strong>Tel: </strong>{{notif.tel}}</li>
            </ul>
        </div>
    </div>

</div>
