<div class="notif_list">
    <h1>liste de notifications</h1>

    <div *ngFor="let notif of notifications">
        
        <div class="card">
            <div class="flex row jc-space-around ">
                <h2>Vous avez reçu un message</h2>
                <div class="delete" (click)="deleteNotif(notif.id)">🗙</div>

            </div>
            <ul>
                <li>{{notif.message}}</li>
                <li>{{notif.mail}}</li>
                <li>{{notif.tel}}</li>
            </ul>
        </div>
    </div>

</div>
