
.notif_list {
  min-height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notif_title {
  width: 200px;
  background-color: rgb(251, 251, 251);
  border-radius: 20px;
  padding: 5px;
  font-size: 20px;
  color: rgb(81, 81, 81);
  border: 4px solid #A6D1BD;
  text-align: center;
}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-rows: 2fr 3fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 300px;
    height: auto;
    margin: 15px;
    line-height:20px;
    background-color: white;
    box-shadow: 0px 5px 20px #555;
    border-radius: 20px;
    overflow: hidden; 
  }
  .delete{
    color: rgb(247, 5, 5);
    font-weight: 800;
    margin-left: 55px;
    padding: 5px 5px 5px 5px;
  }

  h1,h2,ul{
    color: rgb(81,81,81);
  }
  
  h2{
    font-size: larger;
    padding-left: 62px;
  }

 