<div *ngIf="hiddenHeader" class="icons_desktop">
    <div class="flex row jc-center ai-center">
        <div>

            <img class="logo" routerLink="/barters" src="assets/icons/sers_mains.png" alt="retour vers annonces" title="retour vers annonces">
        </div>
        <div>

            <p class="title">Trocoeurs</p>
        </div>
    </div>
    <div>
        <img (click)="backClick()" src="assets/icons/fleche-cercle-gauche.png" alt="flêche pour retour page précédente"title="retour page précédente">
    </div>
    <div>

        <img routerLink="/accueil" src="assets/icons/maison.png" alt="retour accueil" title="retour accueil">
    </div>
    <div>

        <img routerLink="/offer-a-barter" src="assets/icons/ajouter.png" alt="créer une annonce" title="Créer une annonce">
    </div>
    <div class="notification">
        <div *ngIf="messages.length" class="number">
            {{messages.length}}
        </div>
        <div>
            <img [routerLink]="userNotificationNav()" src="assets/icons/bell.png" alt="consulter notification" title="notifications">
        </div>
    </div>
    <div>

        <img [routerLink]="userProfilNav()" src="assets/icons/utilisateur-du-cercle.png" alt="consulter profil" title="Mon profil Connexion Deconnexion">
    </div>

</div>