<div *ngIf="hiddenHeader" class="icons_desktop">
    <div class="flex row jc-center ai-center">
        <div>

            <img class="logo" src="assets/icons/sers_mains.png" title="Accueil">
        </div>
        <div>

            <p class="title">Trocoeurs</p>
        </div>
    </div>
    <div>
        <img (click)="backClick()" src="assets/icons/fleche-cercle-gauche.png" alt="flêche pour retour page précédente"title=" Page Précédente">
    </div>
    <div>

        <img routerLink="/accueil" src="assets/icons/maison.png" alt="Annonces" title="Annonces">
    </div>
    <div>

        <img routerLink="/offer-a-barter" src="assets/icons/ajouter.png" alt="créer une annonce" title="Créer une Annonce">
    </div>
    <div class="notification">
        <div *ngIf="messages.length" class="number">
            {{messages.length}}
        </div>
        <div>
            <img [routerLink]="userNotificationNav()" src="assets/icons/bell.png" alt="consulter notification" title="Notifications">
        </div>
    </div>
    <div class="flex row jc-center ai-center">
        <div class="usericon">
    
            <img  [routerLink]="userProfilNav()" [src]="image" alt="consulter profil" title="Mon Profil">
        </div>
        <h3>{{pseudo}}</h3>
    </div>
    

</div>