.icons_desktop {
    display: none;
}

@media (min-width: 769px) {
    .icons_desktop {
        height: 50px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icons {
    
        display: flex;
        align-items: center;
        justify-content: center;
       
        
        .notification {
            position: relative;
           
            .number {
                color: white;
                background-color:rgb(255, 0, 0);
                border-radius: 50%;
                width: 15px;
                height: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: -5px;
    
            }
        }
    
    }
    
    .logo {
        width: 30px;
    }
    .icons img {
        width: 15px;
        height: 15px;
        // margin-right: 35px;
    }
       
}