footer {
    position: relative;
    height: 70px;
    width: 100%;
    background: white;
}

.icons {
    
    position: absolute;
    margin: 20px;
    bottom: 0;
    right: 0;

}

.icons img {

    margin-right: 34px;
}
   

//     &__back {
//         position: absolute;
        


//     }
//     &__add {

//     }
//     &__notification {

//     }
//     &__home {
       

//     }
// }