<footer *ngIf="hiddenFooter">
    <div class="icons">
        <img src="assets/icons/fleche-cercle-gauche.png" alt="flêche pour retour page précédente">
        <img src="assets/icons/maison.png" alt="retour accueil">
        <img src="assets/icons/ajouter.png" alt="créer une annonce">
            <div class="notification">
                <div *ngIf="messages.length" class="number">{{messages.length}}</div>
                <img  src="assets/icons/bell.png" alt="consulter notification"> 
            </div>
        <img src="assets/icons/utilisateur-du-cercle.png" alt="consulter profil">     
    </div>
</footer>
