.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
h1 {
    text-align: center;
    width: 314px;
    height: 40px;
    margin: 40px auto 40px auto;
    background: #FFFFFF;
    border-radius: 20px;
    border: 5px solid #A6D1BD;
    padding: 10px;
}

.bigbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-width: 1024px;

    &__littlebox {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 225px;
        width: 250px;
        background-color: rgba(49, 48, 48, 0.4);
        backdrop-filter: blur(2px);
        border-radius: 20px;
        padding-top: 5px;
        margin: 10px;
    } 
}

li{
    color: #d0f5e4;
}

.btn {
    border-radius: 20px;
    width: 200px;
}

.disappear {
    display: none; 
}

@media (min-width: 768px){

    li{
        color: black;
    }

}
