<div class="main">

    <h1>Listes des utilisateurs:</h1>
  
  <section class="bigbox" >
    
    <div class="bigbox__littlebox" *ngFor="let user of users">
      
      <ul >
        <li>Nom : {{ user.lastname }}</li>
        <li>Prénom : {{ user.firstname }}</li>
        <li>Pseudo : {{ user.pseudo }}</li>
        <li>Ville : {{ user.city }}</li>
        <li>Département : {{ user.county }}</li>
        <li>E-mail : {{ user.mail }}</li>
      </ul>
      
      <button class="btn" (click)="findUserBarters(user?.id)">Annonces de l'utilisateur</button> <br>
      
      <button class="btn" (click)="eraseUser(user.id)">Supprimer l'utilisateur</button>
      
    </div>
    
  </section> 
</div>
