<!-- Formulaire en Reactive Form, vérifiant que tous les champs sont remplis de la manière qui convient -->
<form [formGroup]="registerForm">
    <main class="main">
    <!-- <button (click)="testToken()" >take Token pseudo</button> -->
        <div class="connexion">Connexion</div>
        <div class="login">
          <!-- <div class="login__container"> -->
            <div class="login__pseudo">
              <!-- Input pseudo -->
              <label for="pseudo">Pseudo</label>
              <input formControlName="pseudo" class="login__pseudo__input" type="text" placeholder=" Pseudo" >
                    <p class="login__error__text" *ngIf="registerForm.get('pseudo')?.hasError('required') && registerForm.get('pseudo')?.dirty">*Ce champs est requis.</p>
                    <p class="login__error__text" *ngIf="registerForm.get('pseudo')?.hasError('maxlength') && registerForm.get('pseudo')?.dirty">*Maximum 10 caractères.</p>
            </div>
            <div class="login__mdp">
              <!-- Input password -->
              <label for="password">Mot de passe</label>
              <input formControlName="password" class="login__mdp__input" type="password" placeholder=" Mot de passe">
                  <p class="login__error__text" *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.dirty">*Ce champs est requis.</p>
                  <p class="login__error__text" *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.dirty">*Minimum 8 caractères.</p>
            </div>
          <!-- </div> -->
        </div>
        <div *ngIf="tokenReceveidFail" class="login__fail">
          <p>*Le pseudo et le mot de passe<br>ne correspondent pas !</p>
        </div>
         <!-- Bouton "Se connecter" activé que si le formulaire est correctement remplit -->
        <button [disabled]="registerForm.invalid" (click)="login()" class="btn">Se connecter</button>
        <div class="main__redirection">
          <p>Pas encore inscrit(e) ? <span class="main__redirection__link" (click)="toSignup()">créer un compte</span></p>
        </div>
    </main>
</form>