.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // filter: grayscale(100%);  
    font-size: 20px;
     
    

    &__redirection {

        &__link {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .login__fail {
        color: rgb(255, 0, 0);
        font-weight: 900;
       
    }

    .connexion, .btn {
        height: 7%;
        width: 40%;
        background: white;
        color: rgb(81, 81, 81);
        border: 5px solid #A6D1BD;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        font-weight: bold;
    }


    .login {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 30%;
        width: 80%;
        color: white;
        background-color: rgba(49, 48, 48, 0.4);
        backdrop-filter: blur(2px);
        
            &__mdp {
                margin-bottom: 40px;
            }

        @media (min-width: 768px) { 
            display: flex;
            flex-direction: row;
        }
        
        &__error {
            color: rgb(255, 0, 0); 
        }
    
        &__pseudo, &__mdp {
            display: flex;
            flex-direction: column;
            height: 15%;
            width: 80%;
            padding: 0 10px;

            @media (min-width: 768px) { 
                width: 40%;
            }
        }
    }

    .login, .login > * > * {
        border-radius: 20px;
        font-weight: bold;
        
    }

    .btn {
        width: 35%;
        font-size: 20px;
    }

   
}

