.container {
    text-align: center;
    width: 8rem;
    
    &__btn {
        height: 3rem;
        border-radius: 8px;
        margin: 15px 0;
    }
    &__file {
        margin: 0 auto;
    }

    &__error {
        color: red;
    }
}