<form [formGroup]="registerForm" >
    <div class="container">
        <div class="container__file">
            <app-file-upload></app-file-upload>
        </div>
        <div *ngIf="registerForm.get('picture')?.invalid && (registerForm.get('picture')?.dirty || registerForm.get('picture')?.touched)">
            <div *ngIf="registerForm.get('picture')?.hasError('required')" class="container__error">
              *Ce champs est requis.
            </div>
            <div *ngIf="registerForm.get('picture')?.hasError('invalidFileType')" class="container__error">
                *Format PNG seulement accepté.
              </div>
          </div>
        <button [disabled]="registerForm.invalid" (click)="sendPicture()" class="container__btn">Changer la photo de profil</button>
    </div>
</form>