<div class="detailAnnContainer">
  <div class="textAnnDesktop">
    <h2 class="titreAnn">Sur Trocoeurs,
      consultez toutes nos offres de trocs, échangez
      ou postez !</h2>
  </div>

  <div *ngIf="annonceId">
    <div class="card-body">
      <div class="cardDetailAnnonce">
        <div hidden class="id">
          <h3>Id</h3>
          <p>{{annonceId.id}}</p>
        </div>
        <div class="imageDetailAnnonce"><img [src]="image" alt="Image de l'annonce">
        </div>
        <div class="descriptionDetailAnnonce">
          <h3>Description :</h3>
          <p class=" descriptionDetailAnnonce__des">{{annonceId.description}}</p>
        </div>
      </div>
      <div class="btnDeal">
        <button class="btnTroc" [routerLink]="['/proposal_deal', annonceId.id]">Je troc!</button>
      </div>
    </div>
  </div>
</div>