.main{
    width: 100%;
    height: 100%;
}

.wrap{
    flex-wrap: wrap;
}

.userCard{
    background-color: rgba(49, 48, 48, 0.4);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    height: 60vh;
    width: 60vw;
    overflow: auto;
    margin-bottom: 40px;
}

h1,h2{
    text-align: center;
    min-width: 150px;
    padding: 10px;
    background-color: rgb(251, 251, 251);
    border-radius: 20px;
    font-size: 20px;
    color: rgb(81, 81, 81);
    border: 4px solid #A6D1BD;
}

h1{
    // background-color: rgba(251, 251, 251, 0.673);
    padding: 8px;
}
.user{
    width: 100%;
    margin: 15px;
}
.user-picture{
    // padding: 15px;
    // border:solid #A6D1BD 10px;
    border-radius: 50%;
}

.pseudo{
    color: rgb(81, 81, 81);
    font-size: 1.4rem;
    font-weight: 600;
}

img{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    object-fit: cover; 
}

.h100px{
    height: 100px;
}

.w100px{
    width: 100px;
}


.btn-user{
    width: 100%;
    min-height: 100px;
    font-size: 18px;
}

button{
    width: 10rem;
    margin: 2rem 0 1rem;
    border-radius: 10px;
    color : rgb(81, 81, 81);
    border: 5px solid #A6D1BD;
}

@media only screen and (min-width: 768px) {
    .main{
      width: 100%;
      background-size: 100%;
      position: relative;
     
    }
}
