<main class="flex jc-center column ai-center main ">

    <h1>Mon profil</h1>
    <div class=" flex column jc-center">
        <div class="flex column ai-center gap10 ">
            <section class="user flex row ai-center flex-1 jc-space-around wrap ">
                <div class="user-picture h100px w100px">
                    <img [src]="image"
                        alt="Picture of {{user.pseudo}}">
                </div>
                <h2 class="pseudo">
                    {{user.pseudo}}
                </h2>
            </section>
            <section class="userCard flex jc-center ai-center" >

                <div class="btn-user flex column ai-center ">
                    <app-user-card-button *ngIf="getHidden()"></app-user-card-button>
                    <button class="button flex" (click)="setHidden()" *ngIf="getHidden()">Modifier / Supprimer le profil</button>
                    <app-user-card-formular  *ngIf="!getHidden()"></app-user-card-formular>
                    <button class="button" (click)="btnLogout()" >Se déconnecter</button>
                </div>
                
            </section>
        </div>
        <button class="back" (click)="setHidden()" *ngIf="!getHidden()">Retour</button>
    </div>
</main>