<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="form flex column">
    <div class="form flex column ai-center">
      <label for="oldPassword">Ancien mot de passe :</label>
      <input type="password" id="oldPassword" formControlName="oldPassword" placeholder="Votre ancien mot de passe" required>
    </div>
    <div class="form flex column ai-center">
      <label for="newPassword">Nouveau mot de passe :</label>
      <input type="password" id="newPassword" formControlName="newPassword" placeholder="Votre nouveau mot de passe" required>
    </div>
    <div class="form flex column ai-center">
      <label for="confirmPassword">Confirmation du nouveau mot de passe :</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirmez votre mot de passe" required>
    </div>
    <div class="flex ai-center jc-center">
      <button type="submit" [disabled]="!passwordForm.valid || !passwordValidator()" (click)="matchingPasswordsValidator('newPassword','confirmPassword')">Envoyer</button> 
    </div>
  </form>