<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="form flex column">
  <div class="form flex column ai-center">
    <label for="currentPassword">Modifier mon mot de passe:</label>
    <input type="password" id="currentPassword" formControlName="currentPassword" placeholder="Votre mot de passe actuel"
      required>
      <!-- Affiche le message d'erreur si le champ "currentPassword" n'est pas rempli -->
<div class="alert" *ngIf="passwordForm.get('currentPassword')?.invalid && (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched)">
  <p *ngIf="passwordForm.get('currentPassword')?.errors?.['required']">*Le champ ancien mot de passe est obligatoire.</p>
  <p *ngIf="passwordForm.get('currentPassword')?.errors?.['passwordRequirements']">*Le mot de passe doit contenir au moins 8 caractères, dont une majuscule, un chiffre et un caractère spécial.</p>
</div>
  </div>
  <div class="form flex column ai-center">
    <label for="newPassword">Nouveau mot de passe :</label>
    <input type="password" id="newPassword" formControlName="newPassword" placeholder="Votre nouveau mot de passe"
      required>
      <!-- Affiche le message d'erreur si le champ "newPassword" n'est pas rempli ou ne respecte pas les conditions du validateur personnalisé -->
<div class="alert" *ngIf="passwordForm.get('newPassword')?.invalid && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)">
  <p *ngIf="passwordForm.get('newPassword')?.errors?.['required']">*Le champ nouveau mot de passe est obligatoire.</p>
  <p *ngIf="passwordForm.get('newPassword')?.errors?.['passwordRequirements']">*Le mot de passe doit contenir au moins 8 caractères, dont une majuscule, un chiffre et un caractère spécial.</p>
</div>
  </div>
  <div class="form flex column ai-center">
    <label for="confirmPassword">Confirmation du nouveau mot de passe :</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword"
      placeholder="Confirmez votre mot de passe" required>
      <!-- Affiche le message d'erreur si le champ "confirmPassword" n'est pas rempli ou ne correspond pas au champ "newPassword" -->
<div class="alert" *ngIf="passwordForm.get('confirmPassword')?.invalid && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)">
  <p *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">*Le champ confirmation du mot de passe est obligatoire.</p>
  <p *ngIf="passwordForm.get('confirmPassword')?.errors?.['passwordMismatch']">*Le mot de passe ne correspond pas à la confirmation.</p>
</div>
  </div>
  <div class="flex ai-center jc-center">
    <button type="submit" [disabled]="passwordForm.invalid ">Changer le mot de passe</button>
  </div>
</form>