h1 {
    text-align: center;
}

// TODO : attention, pas mal de doublons au niveau des classes,
//  créer un fichier global.scss que vous importez dans vos autres css
// se renseigner sur les imports, fonctionnalité cool sur scss
.box1 {
    display: flex;
    justify-content: center;
    align-items: center;

    &__box2 {
        height:auto;
        width: 1000px;
        text-align: justify;
        margin-bottom: 40px;
        margin-top: 40px;
        background: rgba(49, 48, 48, 0.4);
        backdrop-filter: blur(2px);
        border-radius: 20px;
        color: white;
        padding: 10px;
    }
}
