<section class="box1">

    <div class="box1__box2">

        <h1>Mentions légales</h1>

        <p> Nom de l'entreprise : [Nom de l'entreprise] <br> <br>

            Statut juridique : [Statut juridique de l'entreprise, par exemple SAS, SARL, auto-entrepreneur, etc.] <br> <br>

            Adresse du siège social : [Adresse du siège social de l'entreprise] <br> <br>

            Numéro de téléphone : [Numéro de téléphone de l'entreprise] <br> <br>

            Adresse e-mail : [Adresse e-mail de l'entreprise] <br> <br>

            Directeur de la publication : [Nom du directeur de la publication] <br> <br>

            Hébergeur du site : [Nom de l'hébergeur du site] <br> <br>

            Conditions générales d'utilisation : [Lien vers les conditions générales d'utilisation du site] <br> <br>

            Politique de confidentialité : [Lien vers la politique de confidentialité du site] <br> <br>

            Numéro de déclaration CNIL (si applicable) : [Numéro de déclaration CNIL de l'entreprise, si le site collecte
            des données personnelles] <br> <br>

            Droits d'auteur et de propriété intellectuelle : [Informations sur les droits d'auteur et la propriété
            intellectuelle du site]
        </p>

    </div>

</section> 
