<button routerLink="/barters">annonces</button>
<button routerLink="/offer-a-barter">ajouter une annonce</button>
<button routerLink="/users/1/profil" >modifier mon profil</button>
<button routerLink="/login" >login</button>
<button (click)="notif()" >Notification proposition</button>
<button routerLink='users/notification'>Notification liste</button>
<nav>
<div class="container">
    <header>
        <app-header></app-header>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>


