<form class="form flex column" [formGroup]="mailChange" (ngSubmit)="onSubmit()">
    <div class="form flex column ai-center">
        <label for="email">Nouvelle adresse e-mail :</label>
        <input type="email" formControlName="email" id="email" class="form-control"
            placeholder="Entrez votre nouvelle adresse e-mail" required>
        <div *ngIf="mailChange.get('email')?.invalid && (mailChange.get('email')?.dirty || mailChange.get('email')?.touched)"
            class="alert">
            <div *ngIf="mailChange.get('email')?.errors?.['required']">L'adresse e-mail est obligatoire.</div>
            <div *ngIf="mailChange.get('email')?.errors?.['email']">L'adresse e-mail est invalide.</div>
        </div>
    </div>
    <div class="flex ai-center jc-center">
        <button type="submit" class="btn btn-primary" [disabled]="!mailChange.valid">Changer d'adresse
            e-mail</button>
    </div>
</form>