<form class="form flex column " [formGroup]="mailChange" (ngSubmit)="onSubmit()">
    <div class="form flex column ai-center">
        <label for="mail">Nouvelle adresse e-mail :</label>
        <input type="email" formControlName="mail" id="mail" class="form-control"
            placeholder="Entrez votre nouveau mail" required>
        <div *ngIf="mailChange.get('mail')?.invalid && (mailChange.get('mail')?.dirty || mailChange.get('mail')?.touched)"
            class="alert">
            <div *ngIf="mailChange.get('mail')?.errors?.['required']">*L'adresse e-mail est obligatoire.</div>
            <div *ngIf="mailChange.get('mail')?.errors?.['mail']">*L'adresse e-mail est invalide.</div>
        </div>
    </div>
    <div class="flex ai-center jc-center">
        <button type="submit" class="btn btn-primary" [disabled]="!mailChange.valid">Changer de mail</button>
    </div>
</form>