.form{
    height: 100%;
    gap: 10px;
    color: rgb(187, 235, 198);
    font-size:1.1rem;
    font-weight: 600;
}
input{
    max-width: 60%;
    width: 300px;
    height: 20px;
}
button{
    height: 3rem;
    width: 8rem;
    border-radius: 8px;
}
.alert{
    color: rgb(245, 138, 138);
    font-weight: 800;
    font-size: small;
}
