<div class="form">

  <h1 class="form-title">Création de compte</h1>

  <!-- Le fait d'avoir importé ReactiveFormsModule dans le app.module.ts me permet de lier un objet de type FormGroup à 
  un  <form>  avec l'attribut  formGroup  . -->

  <form [formGroup]="form">

    <div class="form-group">

      <!-- Nom -->

      <div class="bigbox">

        <div class="box">

          <img src="assets/icons/user.png" alt="icon">

          <div class="input">

            <label for="lastname">Nom</label>

            <div class="form-control">
              <input type="text" name="lastname" placeholder="Nom" formControlName="lastname">
            </div>

          </div>

        </div>

        <div *ngIf="form.get('lastname')?.invalid && (form.get('lastname')?.dirty || form.get('lastname')?.touched)">

          <div *ngIf="form.get('lastname')?.hasError('required')" class="error">
            *Ce champs est requis.
          </div>

          <div *ngIf="form.get('lastname')?.hasError('invalidFormat')" class="error">
            *Première lettre en majuscule, <br> pas de caractères spéciaux <br> ni de chiffres.
          </div>

          <div *ngIf="form.get('lastname')?.hasError('maxlength')" class="error">
            *Maximum 20 caractères.
          </div>

        </div>

      </div>


      <!-- Prénom -->

      <div class="bigbox">

        <div class="box">

          <img src="assets/icons/user.png" alt="icon">

          <div class="input">

            <label for="firstname">Prénom</label>

            <div class="form-control">
              <input type="text" name="firstname" placeholder="Prénom" formControlName="firstname">
            </div>

          </div>

        </div>

        <div *ngIf="form.get('firstname')?.invalid && (form.get('firstname')?.dirty || form.get('firstname')?.touched)">

          <div *ngIf="form.get('firstname')?.hasError('required')" class="error">
            *Ce champs est requis.
          </div>

          <div *ngIf="form.get('firstname')?.hasError('invalidFormat')" class="error">
            *Première lettre en majuscule, <br> pas de caractères spéciaux <br> ni de chiffres.
          </div>

          <div *ngIf="form.get('firstname')?.hasError('maxlength')" class="error">
            *Maximum 20 caractères.
          </div>

        </div>

      </div>

      <!-- Pseudo -->

      <div class="bigbox">

        <div class="box">

          <img src="assets/icons/user.png" alt="icon">

          <div class="input">

            <label for="username">Pseudo</label>

            <div class="form-control">
              <input type="text" name="username" placeholder="Pseudo" formControlName="username">
            </div>

          </div>

        </div>

        <div *ngIf="form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)">

          <div *ngIf="form.get('username')?.hasError('required')" class="error">
            *Ce champs est requis.
          </div>

          <div *ngIf="form.get('username')?.hasError('username')" class="error">
            *Pas de caractères spéciaux, pas d'espace.
          </div>

          <div *ngIf="form.get('username')?.hasError('maxlength')" class="error">
            *Maximum 10 caractères.
          </div>

        </div>

      </div>

      <!-- Photo -->

      <div class="bigbox">

        <div class="box">

          <img src="assets/icons/picture.png" alt="icon">

          <div class="input">

            <label for="picture">Photo</label>

            <div class="form-control">

              <app-file-upload formControlName="picture"></app-file-upload>
              <!-- Injection de mon composant file-upload permettant de télécharger des images pour les envoyer dans la BDD.  -->

            </div>

          </div>

        </div>

        <div *ngIf="form.get('picture')?.invalid && (form.get('picture')?.dirty || form.get('picture')?.touched)">

          <div *ngIf="form.get('picture')?.hasError('required')" class="error">
            *Ce champs est requis.
          </div>

          <div *ngIf="form.get('picture')?.hasError('invalidFileType')" class="error">
              *Format PNG seulement accepté.
            </div>

        </div>

      </div>

      <!-- Ville -->

      <div class="bigbox">

        <div class="box">

          <img src="assets/icons/location.png" alt="icon">

          <div class="input">

            <label for="city">Ville</label>

            <div class="form-control">
              <input type="text" name="city" placeholder="Ville" formControlName="city">
            </div>

          </div>

        </div>

        <div *ngIf="form.get('city')?.invalid && (form.get('city')?.dirty || form.get('city')?.touched)">

          <div *ngIf="form.get('city')?.hasError('required')" class="error">
            *Ce champs est requis.
          </div>

          <div *ngIf="form.get('city')?.hasError('invalidFormat')" class="error">
            *Première lettre en majuscule, <br> pas de caractères spéciaux <br> ni de chiffres.
          </div>

        </div>

      </div>

      <!-- Département -->

      <div class="bigbox">

        <div class="box">

          <img src="assets/icons/location.png" alt="icon">

          <div class="input">

            <label for="county">Département</label>

            <div class="form-control">
              <input type="text" name="county" placeholder="Département" formControlName="county">
            </div>

          </div>

        </div>

        <div *ngIf="form.get('county')?.invalid && (form.get('county')?.dirty || form.get('county')?.touched)">

          <div *ngIf="form.get('county')?.hasError('required')" class="error">
            *Ce champs est requis.
          </div>

          <div *ngIf="form.get('county')?.hasError('numberOnly')" class="error">
            *Uniquement des chiffres.
          </div>

          <div *ngIf="form.get('county')?.hasError('minlength')" class="error">
            *Minimum 5 caractères.
          </div>

          <div *ngIf="form.get('county')?.hasError('maxlength')" class="error">
            *Maximum 5 caractères.
          </div>

        </div>

      </div>

      <!-- Email -->

      <div class="bigbox">

        <div class="box">

          <img src="assets/icons/mail.png" alt="icon">

          <div class="input">

            <label for="email">Email</label>

            <div class="form-control">
              <input type="mail" name="mail" placeholder="Email" formControlName="mail">
            </div>

          </div>

        </div>

        <div *ngIf="form.get('mail')?.invalid && (form.get('mail')?.dirty || form.get('mail')?.touched)">

          <div *ngIf="form.get('mail')?.hasError('required')" class="error">
            *Ce champs est requis.
          </div>

          <div *ngIf="form.get('mail')?.hasError('email')" class="error">
            *Renseigner une adresse mail valide.
          </div>

        </div>

      </div>

      <!-- Mot de passe -->

      <div class="bigbox">

        <div class="box">

          <img src="assets/icons/password.png" alt="icon">

          <div class="input">

            <label for="password">Mot de passe</label>

            <div class="form-control">
              <input type="password" name="password" placeholder="Mot de passe" formControlName="password">
            </div>

          </div>

        </div>

        <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">

          <div *ngIf="form.get('password')?.hasError('required')" class="error">
            *Ce champs est requis.
          </div>

          <div *ngIf="form.get('password')?.hasError('invalidPassword')" class="error">
            *Au moins une majuscule, <br> un caractère spécial et un chiffre.
          </div>

          <div *ngIf="form.get('password')?.hasError('minlength')" class="error">
            *Minimum 12 caractères.
          </div>

        </div>

      </div>

      <!-- Confirmation mot de passe -->

      <div class="bigbox">

        <div class="box">

          <img src="assets/icons/password.png" alt="icon">

          <div class="input">

            <label for="confirmation">Confirmer mot de passe</label>

            <div class="form-control">
              <input type="password" name="confirmation" placeholder="Confirmer mot de passe"
                formControlName="confirmation">
            </div>

          </div>

        </div>

        <div
          *ngIf="form.get('confirmation')?.invalid && (form.get('confirmation')?.dirty || form.get('confirmation')?.touched)">

          <div *ngIf="form.get('confirmation')?.hasError('required')" class="error">
            *Ce champs est requis.
          </div>

          <div *ngIf="form.get('confirmation')?.hasError('invalidPassword')" class="error">
            *Au moins une majuscule, <br> un caractère spécial et un chiffre.
          </div>

          <div *ngIf="form.get('confirmation')?.hasError('minlength')" class="error">
            *Minimum 12 caractères.
          </div>

          <div *ngIf="form.get('confirmation')?.hasError('passwordMismatch')" class="error">
            *Les mots de passe <br> ne correspondent pas.
          </div>

        </div>

      </div>

    </div>

  </form>

  <button class="form-btn" type="submit" (click)="onSubmitForm()" [disabled]="form.invalid">Créer mon
    compte</button>
  <!-- Pour empêcher l'utilisateur d'envoyer le formulaire s'il n'est pas valable, je lie l'attribut  disabled  
    du bouton Créer mon compte à l'attribut  invalid  du FormGroup. Si le formulaire n'est pas valable, le bouton 
    sera désactivé. -->

</div>


<div class="window" *ngIf="registered">

  <h2>Félicitations!</h2>

  <img src="assets/icons/good.png" alt="smiley">

  <p>Votre compte utilisateur a été créé avec succès! Vous faites désormais parti de la communauté des troqueurs!</p>

  <button>Consulter les annonces</button>

</div>


<div [ngClass]="{'disappear': close}">

  <div class="wrong" *ngIf="notRegistered">

    <h2>Formulaire non valide!</h2>

    <img src="assets/icons/bad.png" alt="smiley">

    <p>Votre adresse e-mail est déjà utilisée par un autre utilisateur et/ou votre pseudo est déjà utilisé par un autre
      utilisateur.</p>

    <button (click)="closeBtn()">Revenir au formulaire</button>

  </div>
