<div class="container">
  <div>
    <h2>Ajouter une Annonce :</h2>
  </div>
  
  
  <form (submit)="addAnnonce()">
    <div hidden class="">
      <label>ID Annonce</label>
      <input type="text" [(ngModel)]="newAnnonce.id" name="idAnnonce" class="form-control">
    </div>
    <div class="">
      <label>Image</label>
      <input type="file" [(ngModel)]="newAnnonce.announcement_picture" name="Image" class="form-control">

    </div>

    <div class="">
      <label>Description Annonce</label>
      <input type="text" [(ngModel)]="newAnnonce.description" name="description" class="form-control">
    </div>
    <!-- <div class="">
      <label>Categorie</label>
      <select class="form-control form-control-lg" id="idCat" name="idCat"
      [(ngModel)]="newIdCat">
       <option *ngFor="let cat of category" [value]="cat.idCat" >
       {{cat.nomCat}}
      </option>
      </select>
      </div> -->

    <!-- <div class="">
      <label>Date création</label>
      <input type="date" [(ngModel)]="newAnnonce.dateCreation" name="dateCreation" class="form-control">
    </div> -->

    <div class="">
      <button type="submit" class="">Ajouter</button>
      <div>
        <h3>{{message}}</h3>
      </div>
    </div>
  
  </form>
</div>