.createTitre {
    text-align: center;
    width: 314px;
    height: 53px;
    margin: auto;
    background: #FFFFFF;
    border-radius: 20px;
}

.createCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 326px;
    height: 515px;
    margin: auto;
    background:  rgba(49, 48, 48, 0.4);
    // backdrop-filter: blur(2px);
    border-radius: 20px;
}

.addFile {
    margin: 15px;
    background-color: #0d99ff;
    border: 1px solid #0d99ff;
    color: #fff;
    border-radius: 15px;
}


.createImage {
    flex-direction: column;
    margin-top: 15px;
}

.addTitre {
    text-align: center;
    width: 200px;
    padding: 5px;
    height: auto;
    margin: auto;
    background: #FFFFFF;
    border-radius: 20px;
}

.descriptionAnnonce {
    margin: 15px;
    top: 10px;
    width: auto;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 15px;

}

.addImg {
    margin: 15px;
    width: 150px;
    height: auto;
    border: 1px solid black;
    border-radius: 15px;
}

.btnValid {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.btnValidez {

    width: 161px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 20px;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

@media only screen and (max-width: 768px) {
    .textAnnDesktop {
        display: none;

    }


}

@media only screen and (min-width: 768px) {
    .createCards {
        width: 500px;
    }
}