<section class="box1">

    <div class="box1__box2">

        <h1>Politique de confidentialité</h1>

        <p>Le respect de la vie privée et la protection des données personnelles de nos utilisateurs sont des priorités pour
           [nom de l'entreprise] [nom du site]. Cette politique de confidentialité décrit comment nous collectons,
           utilisons et protégeons les données personnelles que nous recueillons sur le site.
        </p>

        <h2>1. Collecte de données</h2>

        <p>[Nom du site] peut collecter les données personnelles suivantes lorsque vous utilisez le site : <br> <br>

            • Nom, prénom, adresse e-mail, adresse postale, numéro de téléphone. <br>
            • Informations relatives aux annonces publiées, aux demandes de troc. <br>
            • Informations techniques telles que l'adresse IP, les données de connexion, le type et la version du
              navigateur, les paramètres de langue et de temps. <br>
        </p>

        <h2>2. Utilisation des données</h2>

        <p>Les données personnelles collectées sont utilisées pour les finalités suivantes : <br> <br>

            • Gérer les comptes utilisateurs. <br>
            • Publier des annonces. <br>
            • Faciliter les échanges entre utilisateurs. <br>
            • Communiquer avec les utilisateurs par e-mail. <br>
            • Analyser l'utilisation du site et améliorer l'expérience utilisateur. <br>
            • Assurer la sécurité du Site et prévenir les fraudes. <br>
            • Se conformer aux obligations légales. <br>
        </p>

        <h2>3. Partage de données</h2>

        <p>Les données personnelles collectées peuvent être partagées avec des tiers dans les cas suivants : <br> <br>

            • Avec d'autres utilisateurs pour faciliter les échanges. <br>
            • Avec des prestataires de services tiers qui fournissent des services pour le compte du site, tels que
              l'hébergement, la maintenance, l'analyse de données et le marketing. <br>
            • Avec des autorités judiciaires, administratives ou légales, si cela est requis par la loi ou dans le cadre
              d'une procédure judiciaire. <br> <br>

            [Nom du site] ne vend ni ne loue les données personnelles des utilisateurs à des tiers.
        </p>

        <h2>4. Sécurité des données</h2>

        <p>[Nom du site] prend les mesures de sécurité appropriées pour protéger les données personnelles des
           utilisateurs
           contre tout accès, utilisation ou divulgation non autorisés. Les données personnelles sont stockées sur des
           serveurs sécurisés et protégés par des pare-feu et des mesures de sécurité physique.
        </p>

        <h2>5. Droits des utilisateurs</h2>

        <p>Les utilisateurs ont le droit de : <br> <br>

            • Accéder à leurs données personnelles et en demander une copie. <br>
            • Demander la rectification ou la suppression de leurs données personnelles. <br>
            • S'opposer au traitement de leurs données personnelles. <br>
            • Demander la limitation du traitement de leurs données personnelles. <br>
            • Demander la portabilité de leurs données personnelles. <br> <br>

            Pour exercer ces droits, les utilisateurs peuvent contacter [nom du site] à l'adresse [adresse de contact].
            [Nom du site] s'engage à répondre aux demandes d'exercice des droits des utilisateurs dans les meilleurs délais et
            conformément à la réglementation en vigueur.
        </p>

        <h2>6. Durée de conservation des données</h2>

        <p>Les données personnelles des utilisateurs sont conservées pendant la durée nécessaire pour atteindre les
           finalités pour lesquelles elles ont été collectées, sauf si une durée de conservation plus longue est requise
           par la loi.
        </p>

        <h2>7. Modifications de la politique de confidentialité</h2>

        <p>[Nom du site] se réserve le droit de modifier cette politique de confidentialité à tout moment. Les utilisateurs
           seront informés des modifications par e-mail ou via une notification sur le site.</p>

        <h2>8. Contact</h2>

        <p>Pour toute question ou demande concernant la politique de confidentialité, les utilisateurs peuvent contacter
           [nom du site] à l'adresse [adresse de contact].</p>

    </div>

</section> 
