<div class="annonce-container">
  <div class="textAnnDesktop">
    <h1 *ngIf="link()" class="titreAnn">Sur Trocoeurs,<br>
      consultez toutes nos offres de trocs, échangez
      ou postez !</h1>
    <h1 *ngIf="!link()" class="titreAnn">Voici vos propositions d'échange , vous pouvez les consulter ou les supprimer
      !</h1>
  </div>
  <div class="card-body">
    <div class="cardAnnonceList" *ngFor="let annonce of annonces">
      <div hidden class="id" (click)="onSelectedAnnonce(annonce)">
        <h2>Id</h2>
        <p>{{annonce.id}}</p>
      </div>
      <div class="imageAnnonce" (click)="onSelectedAnnonce(annonce)"><img [src]="annonce.imageUrl" alt="Image de l'annonce {{annonce.id}}">
      </div>
      <div class="descriptionAnnonce" (click)="onSelectedAnnonce(annonce)">
        <h2>Description :</h2>
        <p>{{annonce.description}}</p>
      </div>
      <div *ngIf="!link()" class="delete" (click)="supprimerAnnonce(annonce.id)">🗙</div>
    </div>
  </div>
</div>