/* .container {
  background: #836666;
}



.card {

  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 289px;
  height: 141px;
  left: 49px;
  top: 161px;
  background: #ffff;
  border-radius: 20px;
  font-family: sans-serif;
  z-index: 0;
  align-items: center;
} */
.card {
  display: flex;
  align-items: flex-start;
}

.card .description {
  flex: 1;
  padding: 10px;
}
.image img {
  max-width: 100px;
}