<div class="accueil">
<div class="head">
</div>
<main class="main">
    <div class="circle" routerLink="/login"></div>
        <section class="home">
            <div class="home__welcome">          
                <p>Bienvenue sur le site Trocoeurs<img class="logo" src="assets/icons/sers_mains.png" alt="logo où deux mains se serrent">
                <br>Ici vous allez pouvoir faire des échanges alimentaires entre particuliers.</p>
            </div>
        </section>
        <section class="suite">
            <h1 class="consult" (click)="select()">Consultez nos offres ici</h1>
            <h1 class="how">Comment ça marche ?</h1>
        </section>
        <app-switch class="espace"></app-switch>

        <div class="rgpd">
            <a href='/mentions'>Mentions légales</a>
            <a href='/politique'>Politique de confidentialité</a> 
            <a href='/charte'>Charte de modération</a>
        </div>

</main>
</div>
