    .main {
        background: url("/assets/opacity.jpg") no-repeat center center fixed;
        background-size: cover;
        
        position: relative;
    }

    .head {
        display: none;
    }
  
    .circle {
        background:url("/assets/icons/utilisateur-du-cercle.png");
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        border: 7px solid white;
        border-radius: 50%;
        margin: 20px;
    }

    .home {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        &__welcome {
            height: 200px;
            width: 260px;
            border-radius: 20px;
            background: rgba(49, 48, 48, 0.4);
            backdrop-filter: blur(2px);
            color: white;
            font-size: 20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 10px;
        }

        .logo {
            float: right;
            margin-right: 62px;
            margin-top: 8px;
            height: 25px;
            width: 25px;
            margin-left: -67px;
        }
    }

   
    .suite {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-color: rgba(49, 48, 48, 0.4);
        backdrop-filter: blur(2px);
        min-height: 70px;
    }

        .how {
            width: 100vw;
            min-height: 50%;
            color: white;
            font-size: 20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            text-align: center;
            line-height: 1.2;
        }

        .consult {
            width: 100vw;
            min-height: 50%;
            color: white;
            font-size: 20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            text-align: center;
            line-height: 1.2;
            animation: clignoter 2s infinite;
        }
        
        @keyframes clignoter {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

.espace{
    margin-bottom: 20px;
}
    


/*media query*/
@media (min-width: 769px) {

// .main {
//     display: none;
//     // background: none;
// }
    .accueil {
        width: 100%;
        height: 100%;
        // background-color: rgb(201, 228, 216);
        position: relative;
        z-index: 2;
        // background: url("/assets/background_mains.jpg") no-repeat fixed;

    }

    .home__welcome {
        height: 120px;
        width: 600px;
        // background: rgba(49, 48, 48, 0.4);

        .logo {
            background-color: rgba(49, 48, 48, 0);
            margin-right: 140px;
            margin-left: -233px;
        }

        p {
            background-color: rgba(49, 48, 48, 0);
            // padding-top: 35px;
            // padding-bottom: 35px;
        }

    }   

    // .suite {
        // background-color: transparent;
        // backdrop-filter: none

    // }
      
    // .how {
            // height: 100px;
            // width: 100px;
        // }
    


   
    } 

    .rgpd {
        display: flex;
        justify-content:space-around;
        text-align: center;
       
    } 
    
    .rgpd a {
        color: white;
    } 
