
<div class="head">
    <img class="head__citrouille" src="assets/citrouille_mains.jpg" alt="">
    <img class="head__fraise" src="assets/fraises_mains.jpg" alt="">
    <img class="head__pain" src="assets/pain_mains.jpg" alt="">
    <img class="head__pdt" src="assets/pdt_mains.jpg" alt="">
    <img class="head__tomate" src="assets/tomates_mains.jpg" alt="">
    <img class="head__myrtille" src="assets/myrtilles_mains.jpg" alt="">
</div>
<main class="main">
    <section class="home">
        <div class="home__welcome">{{welcome}}</div>        
    </section> 
    <section class="suite">
        <h1 class="suite__consult" (click)="select()">{{consult}}</h1> 
        <h1 class="suite__how">{{how}}</h1>
    </section>
</main>
<app-switch></app-switch>


