<div class="accueil">
<div class="head">
    <!-- <img src="assets/background_mains.jpg"> -->
    <!-- <img class="head__citrouille" src="assets/citrouille_mains.jpg" alt="citrouille dans les mains">    
    <img class="head__fraise" src="assets/fraises_mains.jpg" alt="fraises dans les mains">    
    <img class="head__pain" src="assets/pain_mains.jpg" alt="pain dans les mains">    
    <img class="head__pdt" src="assets/pdt_mains.jpg" alt="pommes de terre dans les mains">    
    <img class="head__tomate" src="assets/tomates_mains.jpg" alt="échange de tomates dans les mains de deux personnes"> 
    <img class="head__myrtille" src="assets/myrtilles_mains.jpg" alt="myrtilles dans les mains"> -->
</div>
<main class="main">
    <div class="circle" routerLink="/login"></div>
        <section class="home">
            <div class="home__welcome">          
                <p>Bienvenue sur le site Trocoeurs<img class="logo" src="assets/icons/sers_mains.png" alt="logo où deux mains se serrent">
                <br>Ici vous allez pouvoir faire des échanges alimentaires entre particuliers.</p>
            </div>
        </section>
        <section class="suite">
            <h1 class="suite__consult" (click)="select()">Consultez nos offres ici</h1>
            <h1 class="suite__how">Comment ça marche ?</h1>
        </section>
        <app-switch></app-switch>
</main>
</div>
