@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

@mixin display-flex-col() {
    display: flex;
    flex-direction: column;
}